---
import Layout from '../layouts/Layout.astro'
---

<Layout title="PodUptime | Changelog" headerLink="/">
  <h1 class="mb-4 text-4xl font-bold text-pink-100">Changelog</h1>

  <p class="mb-4">
    This page contains the list of changes made to PodUptime's monitoring system and website.
  </p>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 31th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      We implemented an aggregated daily view over the last 30 days for each monitored platform. The
      value displayed for each day is the aggregation of all data points generated from each
      monitored url of the platform.
    </li>
    <li class="pb-3 [&>code]:underline">
      We published the <a class="underline" href="https://poduptime.com/api-doc/"
        >public API documentation</a
      >.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 30th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      For debugging purposes, we have implemented the display of the full event for the last 10
      issues in the detail view for each service. This enhancement aims to assist in troubleshooting
      and diagnosing any problems effectively.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 27th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      We added the following services to our monitoring list: <code>Audioboom</code> and <code
        >iVoox</code
      >.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 26th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      We have released the source code of the project on <a
        class="underline"
        href="https://github.com/spreaker/poduptime">GitHub</a
      >.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 25th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      In the detail view for each service we now show the instant status for each monitored <code
        >URL</code
      >.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 13th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      We've included <code>RSS feed</code> monitoring for hosting platforms. Similar to our
      enclosure checks, this is performed with an <code>HTTP HEAD</code> request directed at the RSS
      feed of a dummy podcast used by our monitoring service. The results of these additional checks
      are combined with the enclosure checks to determine overall availability.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 11th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      We added the following services to our monitoring list: <code>Alitu</code>.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 10th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      We added a detailed view for each service, showing the instant status and the last 24 hours of
      data.
    </li>
    <li class="pb-3 [&>code]:underline">We made some minor UI improvements to the website.</li>
    <li class="pb-3 [&>code]:underline">
      We added the following services to our monitoring list: <code>Podscribe</code>.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 7th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      We added the following services to our monitoring list: <code>Podder</code>.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 6th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      We added the following services to our monitoring list: <code>Podtrac</code>, <code
        >Blubrry (Stats)</code
      >,
      <code>Podcorn</code> and
      <code>RedCircle</code>.
    </li>
    <li class="pb-3 [&>code]:underline">
      We added a monitoring location selector, allowing you to choose between global metrics or
      region-specific ones.
    </li>
  </ul>

  <h2
    class="mb-4 mt-6 border-b-2 border-dotted border-pink-100 pb-2 text-2xl font-bold text-pink-100"
  >
    October 5th, 2023
  </h2>

  <ul class="mb-4 list-outside list-disc pl-4">
    <li class="pb-3 [&>code]:underline">
      This is our first release, and the initial list of monitored services includes: <code
        >Spreaker</code
      >,
      <code>Omny Studio</code>, <code>Megaphone</code>, <code>Buzzsprout</code>, <code>RSS.com</code
      >,
      <code>Spotify for Podcasters</code>, <code>Acast</code>,
      <code>Libsyn</code>, <code>OP3.dev</code>, and <code>Chartable</code>.
    </li>
  </ul>
</Layout>
